.agent-form {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.agent-type-label,
.agent-id-label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

.agent-type,
.agent-id-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1B1A16;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}
.agent-id-input{
    height: 60px;
}

.agent-form-btn button {
    background-color: #45A049;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.agent-form-btn button:hover {
    background-color: #3d8b40;
}