.home-slider-div{
    width: 100%;
    margin: 20px auto;
}

.home-mid-div{
    max-width: 1140px;
    margin: 20px auto;
}
.home-mid-title{
    font-family: montserrat, sans-serif;
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 20px;
}
.home-mid-desc{
    text-align: center;
    margin-bottom: 40px;
}
.agent-form-div{
    margin-bottom: 40px;
}
.home-mid-bottom{
    margin-bottom: 40px;
}
.home-mid-bottom p{
    margin-bottom: 20px;
}
.home-mid-bottom span{
    margin-bottom: 10px;
}
.text-bold{
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .home-mid-title {
        font-size: 48px;
    }

    .home-mid-div{
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .home-mid-title {
        font-size: 36px;
    }
}